<footer>
  <hr>
  <p>Test Guru is an application that allows you to <u>create</u>, <u>manage</u>, and <u>perform</u> various tests.</p>
  <p><%= link_to 'Author: Kirill Sukharev', github_url('Tenelles', 'TestGuru'), target: :_blank %></p>
  <p>Created: December 8, 2020</p>
  <p><i>This app was created for the ruby on Rails course by <a href="https://thinknetica.com" target="blank" rel="nofollow">Thinknetica</a></i></p
  <p><%= current_year %></p>
</footer>
